#TELEGRAM
API_TOKEN=123456:ABCDEF_EXEMPLO #Token do bot do telegram
CANAL_ID=-102456874256 #Id do canal de vagas no telegram.

#Cookies das fontes de vagas.
INFOJOBS_LOG= {"cookies": [{"name": ...}
LINKEDIN_LOG= {"cookies": [{"name": ...}

#Caminho do banco de dados.
DATABASE_URL=postgresql+psycopg://usuario:senha@localhost:porta/meu_banco #Usada em ambiente de produção.
# DATABASE_URL = postgresql+psycopg://usuario:senha@localhost:porta/meu_banco #Usada em ambiente de desenvolvimento.


#APIs
API_URL=http://localhost:8000 - EXEMPLO
WEBHOOK_URL=http://localhost:8000/webhook - EXEMPLO
GEMINI_API_KEY= #API modelo de IA GEMINI


#Váriaveis usadas no Docker Compose para rodar banco de dados localmente
#PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=meu_banco
POSTGRES_PORT=5432