venv/
.env


__pycache__/
*.py[cod]
*.pyo

*.db

backend/core/
cookies/
**/cookies/
storage_state.json
auth.json


playwright-report/
test-results/

latex
test.py

frontend/*

requirements.md
scheduler.md


.Dockerfile


*.log

.vscode/



telegram_bot/bot.py
telegram_bot/telegram_sender.py
telegram_sender.py