venv/
.env
.env.example
# docs/


__pycache__/
*.py[cod]
*.pyo

*.db

app/core/
cookies/
**/cookies/
storage_state.json
auth.json


playwright-report/
test-results/


*.log

.vscode/



telegram_bot/bot.py
telegram_bot/telegram_sender.py
telegram_sender.py